@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }


.cmf_debugger{      
    @media (max-width:905px) { display:none; }
    #cmf_debug{
        position: fixed;
        top: 0px;
        left: -100%;
        z-index:9999;
        overflow: hidden;

        transition: 1s;
        -webkit-animation: slide 5s forwards;
        -webkit-animation-delay: 10s;
        background: #d3d3d3;
        padding: 10px 20px 0px 20px;
        width: 60%;
        min-width: 500px;
        height: 100%;
        border-right: 2px solid #333;
    }
    

    #cmf_debug.toggled{
        left: 0;
        transition: 2s;
        -webkit-animation: slide 5s forwards;
        -webkit-animation-delay: 10s;
    }

    @-webkit-keyframes slide {
        100% { left: 0; }
    }

    @keyframes slide {
        100% { left: 0; }
    }
    .debug_title{
        text-align:left;
        padding-left: 50px; 
        height: 30px;
        margin-bottom: 20px;
        
        span{
            cursor: pointer;
            line-height: 30px;
            font-size: 20px;
        }
    }
    .debug_toggle{
        position: fixed;
        top:10px;
        left:10px;
        z-index:10000;
        opacity: 0.5;
        transition: 0.8s;
        -webkit-animation: fade 5s forwards;
        -webkit-animation-delay: 10s;
    }
    .debug_toggle:hover{
        opacity: 0.9;
    }
    .debug_table{
        border: none !important;
        // width: 450px;
         
        tr { 
            border-left: 1px solid #000; 
            white-space: normal;
            text-align:center;
        }
        .title{ width: 150px; border-right: 1px dotted #000; }
        .value{}
        .main_title{ background:#333; color:#FFF; font-weight:bold; }
        
    }
}