/* badass
comment 
*/

body{
    background: @BackgroundColor;
    font-family: @FontFamily;
    font-size: @FontSize;
    color: @Color;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: auto;
        
    .content{
        text-align:center;
        
        .widgets{ float:left; }
    }
}